
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1{
    padding-top: 40px;
    text-align: center;
}

header h2{
    text-align: center;
    font-size: medium;
}


main{
    overflow: hidden;
    background-color: whitesmoke;
}

/* Pagina de inicio */

.galeria{
    position: relative;
    padding-bottom: 20px;
    background-color: whitesmoke;
}

.galeria p{
    padding:10px;
    font-weight: bold;
    text-align: center;
}

/* Servicios index */

.servicios{
    background-color: rgb(241, 238, 235);
}

.servicios p{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.envoltorio-caja-servicios{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
    row-gap: 3rem;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.servicio_caja{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 18.7rem;
    height: 31.25rem;
    background-color: whitesmoke;
    border: 2px solid rgba(172, 169, 169, 0.396);
    border-radius: 20px;
    box-shadow: 2px 2px 10px whitesmoke;
    overflow: hidden;
}

.servicio_caja img{
    grid-row-start: 1;
    justify-self: center;
    align-self: center;
}

.servicio_caja p{
    grid-row-start: 2;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-weight: bold;
    font-size: large;
}



@media screen and (min-width:992px){
    .envoltorio-caja-servicios{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 100%;
        justify-items: center;
        align-items: center;
        height: 600px;
        width: 100%;
    }
    
    .servicio_caja{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: 18.7rem;
        height: 31.25rem;
        background-color: whitesmoke;
        border: 2px solid rgba(172, 169, 169, 0.396);
        border-radius: 20px;
        box-shadow: 2px 2px 10px whitesmoke;
        overflow: hidden;
    }
}


/* Ubicación index */


.ubicacion{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30rem 18rem;
    background-color: rgba(222, 232, 241, 0.383);
}

.ubicacion_gps{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 90%;
}

.ubicacion_gps p{
    align-self: center;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

.ubicacion_gps iframe{
    justify-self: center;
}

.ubicacion_texto{
    justify-self: center;
    width: 30rem;
}

.ubicacion_texto p{
    text-align: center;
    font-size: medium;
    font-weight: bold;
}

@media screen and (min-width:992px){
    .ubicacion{
        display: grid;
        grid-template-columns: 25rem 80%;   
        grid-template-rows: 1fr;
        background-color: rgba(222, 232, 241, 0.383);
    }
    
    .contenedor_gps{
        grid-column-start: 1;
    }

    .ubicacion_gps{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 90%;
    }

    .ubicacion_gps p{
        text-align: center;
        font-size: medium;
        font-weight: bold;
    }
    
    .ubicacion_texto{
        grid-column-start: 2;
        justify-self: center;
        align-self: center;
        width: 100%;
    }
    
    .ubicacion_texto p{
        text-align: center;
        font-size: large;
        font-weight: bold;
    }
    
}

/* Pagina de cortes */

.presentacion_cortes  h1{
    text-align: center;
}

.presentacion_cortes p{
    padding-top: 15px;
    text-align: center;
}

.caja_cortes{
    display: inline-block;
    position: relative;
    left: 10%;
    right: 10%;
    height: 500px;
    width: 200px;
    border: 2px solid black;
    margin: 5% 3%;
    border-radius: 40px;
    overflow: hidden;
}

.imagenes_cortes img{
    position: absolute;
    top: 0;
    height: 40%;
    width: 100%;
}

.descripcion_cortes{
    position: absolute;
    top: 45%;
    text-align: center;
}

.precio_cortes{
    position: absolute;
    top: 90%;
    left: 25%;
}

.precio_cortes p{
    font-weight: bold;
}

/* Pagina de turnos */

.presentacion_turnos  h1{
    text-align: center;
}

.presentacion_turnos p{
    padding-top: 15px;
    text-align: center;
}

.caja_formulario{
    position: relative;
}

.formulario_turno fieldset{
    padding-top: 2%;
    border: 0px solid white;
}

.casillas_turnos {
    padding-top: 3%;
}

.casillas_turnos label{
    position: absolute;
    left: 40%;
    font-size: large;
    font-weight: bold;
}

.casillas_turnos input{
    position: absolute;
    left: 50%;
}

.casillas_turnos select{
    position: absolute;
    left: 50%;
}

.boton_enviar_turno{
    padding: 3% 0 10% 46%;
}

.boton_enviar_turno input{
    background-color: rgba(102, 102, 216, 0.75);
    color: white;
    font-size: medium;
    border: 0px solid white;
    border-radius: 4px;
    padding: 0px 10px 0px 10px;
}

/* Pagina de nosotros */

.historia_nosotros{
    position: relative;
    width: 100%;
    height: 700px;
}

.historia_nosotros  h1{
    text-align: center;
}

.historia_texto{
    position: absolute;
    width: 50%;
    height: 70%;
    top: 10%;
    left: 2%;
    overflow: hidden;
}

.historia_texto p{
    text-align: left;
    font-size: large;
    font-weight: 800;
}

.imagen1_nosotros{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 10%;
    left: 60%;
    right: 5%;
    overflow: hidden;
}

.imagen2_nosotros{
    position: absolute;
    top: 45%;
    width: 100%;
    height: 50%;
    left: 60%;
    right: 5%;
    overflow: hidden;
}

.equipo_de_trabajo_nosotros{
    position: relative;
    background-color: rgb(241, 238, 235);
}

.equipo_de_trabajo_nosotros h2{
    text-align: center;
}

.caja_imagenes_nosotros{
    display: inline-block;
    margin-top: 5%;
    margin-left: 7%;
    margin-bottom: 7%;
    height: 300px;
    width: 300px;
    border: 1px solid black;
    border-radius: 360px;
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    background-color: rgba(218, 165, 32, 0.572);
}

/* pagaina Beneficios */

.presentacion_beneficios{
    position: relative;
}

.presentacion_beneficios  h1{
    text-align: center;
}

.presentacion_beneficios p{
    padding-top: 15px;
    text-align: center;
    width: 400px;
    margin-left: 40%;
}

.envoltorio_beneficios{
    position: relative;
    background-color: rgb(241, 238, 235);
}

.caja_beneficios{
    position: relative;
    display: inline-block;
    margin-top: 5%;
    margin-left: 17%;
    margin-bottom: 7%;
    height: 300px;
    width: 200px;
    border: 1px solid rgba(181, 179, 179, 0.617);
    border-radius: 30px;
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
}

.caja_beneficios img{
    position: absolute;
    left: 25%;
    top: 5%;
}

.caja_beneficios p{
    margin-left: 30%;
    margin-top: 70%;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.divisor_beneficio{
    position: absolute;
    top: 40%;
    width: 100%;
    height: 1px;
    border: 1px solid grey;
}

.caja_beneficios span{
    position: absolute;
    top: 90%;
    left: 30%;
    font-size: x-large;
    font-weight: 900;
    color: green;
}


/* Pie de pagina */

footer{
    position: relative;
    background-color: rgba(119, 136, 153, 0.671);
}

.redes{
    padding-left: 10px;
    padding-top: 15px;
}

.redes h3{
    font-size: medium;
}

.envoltorio-derechos-autor{
    display: flex;
    justify-content: flex-end;
}

.envoltorio-derechos-autor h4{
    margin: 0 5rem;
    font-size: medium;
}

