/* pagaina Beneficios */

//importando utilidades
@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extends";

main {
    .presentacion-beneficios {
        .titulo {
            @extend %titulo;
        }

        p {
            text-align: center;
        }
    }

    .envoltorio-beneficios {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0rem 2rem 0rem;
        gap: 2rem;
        @extend %borde-carta;
        background-color: rgb(241, 238, 235);

        .caja-beneficios {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 40% 2% 40% 18%;
            justify-content: center;
            height: 300px;
            width: 200px;
            border: 1px solid rgba(181, 179, 179, 0.617);
            border-radius: 30px;
            box-shadow: 2px 2px 4px black;

            img {
                justify-self: center;
                align-self: center;
            }

            .divisor-beneficio {
                @extend %divisor;
            }

            .descripcion-marca {
                justify-self: center;
                align-self: center;
                width: 100px;
                height: 100px;
                overflow: hidden;

                p {
                    text-align: center;
                }
            }


            span {
                text-align: center;
                font-size: x-large;
                font-weight: 900;
                color: green;
            }
        }
    }

    @media screen and (min-width:992px) {
        .envoltorio-beneficios {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .caja-beneficios {
                margin: 0 10vw;
            }
        }
    }
}