/* Pagina de cortes */


main {
    .presentacion-cortes {
        h1 {
            text-align: center;
        }

        p {
            padding-top: 15px;
            text-align: center;
        }
    }

    .envoltorio-cajas-cortes {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        justify-content: center;
        justify-items: center;
        gap: 2rem;
        padding-bottom: 2rem;

        .caja-cortes {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 2fr;
            justify-content: center;
            height: 500px;
            width: 200px;
            border-radius: 40px;
            box-shadow: 2px 2px 5px rgb(106, 104, 104);
            overflow: hidden;

            .imagenes-cortes{
                img {
                    max-width: 100%;
                }
    
                img:hover{
                    transition: transform 1.2s;
                    transform: scale(1.2);
                }
            }
            

            .descripcion-cortes {
                text-align: center;
            }

            .precio-cortes p {
                text-align: center;
                font-weight: bold;
            }
        }
    }

    @media screen and (min-width:992px) {
        .envoltorio-cajas-cortes {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }

    @media screen and (min-width:992px) and (min-height:1314px) {
        .envoltorio-cajas-cortes {
            height: 81vh;
        }
    }

}