/* Pagina de nosotros */

//Importando utilidades
@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extends";

main {
    .titulo {
        @extend %titulo;
    }

    .historia-nosotros {
        @extend %borde-carta;

        .historia-texto {
            background-color: white;
            border-radius: 2%;
            margin-bottom: 1rem;

            p {
                text-align: center;
                font-size: medium;
                font-weight: 550;
            }
        }

        .imagen1-nosotros {
            display: none;
        }

        .imagen2-nosotros {
            display: none;
        }
    }

    .equipo-de-trabajo-nosotros {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2% repeat(4, 1fr);
        justify-content: center;
        gap: 2rem;
        background-color: rgb(241, 238, 235);
        padding-bottom: 2rem;

        h2 {
            text-align: center;
        }

        .caja-imagenes-nosotros {
            justify-self: center;
            height: 300px;
            width: 300px;
            border: 1px solid black;
            border-radius: 360px;
            box-shadow: 2px 2px 4px black;
            overflow: hidden;
            background-color: rgba(218, 165, 32, 0.572);

            .nombre {
                opacity: 0;
            }

            img:hover .nombre {
                opacity: 1;
            }
        }
    }

    @media screen and (min-width:992px) {
        .historia-nosotros {
            @include grid-centrados(2, 1fr, 2, 1fr, 0px);
            margin: 2rem;

            .historia-texto {
                margin-left: 2%;
                grid-row: span 2;

                p {
                    text-align: center;
                    font-size: 1.3vw;
                }
            }

            .imagen1-nosotros {
                display: block;
                justify-self: center;
                grid-column-start: 2;
                padding-bottom: 3rem;

                img {
                    border-radius: 5%;
                    width: 42vw;
                }
            }

            .imagen2-nosotros {
                display: block;
                justify-self: center;
                grid-column-start: 2;

                img {
                    border-radius: 5%;
                    width: 42vw;
                }
            }
        }

        .equipo-de-trabajo-nosotros {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 10% 2fr;

            h2 {
                grid-column: span 2;
            }

            .caja-imagenes-nosotros {
                width: 270px;
                height: 270px;
            }
        }
    }

    @media screen and (min-width:1374px) {
        .historia-nosotros {
            @include grid-centrados(2, 1fr, 2, 1fr, 0px);
            padding-top: 2rem;

            .historia-texto {
                grid-row: span 2;

                p {
                    text-align: center;
                    font-size: 1.3vw;
                }
            }

            .imagen1-nosotros {
                display: block;
                justify-self: center;
                grid-column-start: 2;
                padding-bottom: 3rem;

                img {
                    width: 42vw;
                }
            }

            .imagen2-nosotros {
                display: block;
                justify-self: center;
                grid-column-start: 2;

                img {
                    width: 42vw;
                }
            }
        }

        .equipo-de-trabajo-nosotros {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 10% 1fr;

            h2 {
                grid-column: span 4;
            }
        }
    }
}