/* Pagina de nosotros */

.historia-nosotros{
    position: relative;
    width: 100%;
    height: 700px;
}

.historia-nosotros  h1{
    text-align: center;
}

.historia-texto{
    position: absolute;
    width: 50%;
    height: 70%;
    top: 10%;
    left: 2%;
    overflow: hidden;
}

.historia-texto p{
    text-align: left;
    font-size: large;
    font-weight: 800;
}

.imagen1-nosotros{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 10%;
    left: 60%;
    right: 5%;
    overflow: hidden;
}

.imagen2-nosotros{
    position: absolute;
    top: 45%;
    width: 100%;
    height: 50%;
    left: 60%;
    right: 5%;
    overflow: hidden;
}

.equipo-de-trabajo-nosotros{
    position: relative;
    background-color: rgb(241, 238, 235);
}

.equipo-de-trabajo-nosotros h2{
    text-align: center;
}

.caja-imagenes-nosotros{
    display: inline-block;
    margin-top: 5%;
    margin-left: 7%;
    margin-bottom: 7%;
    height: 300px;
    width: 300px;
    border: 1px solid black;
    border-radius: 360px;
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    background-color: rgba(218, 165, 32, 0.572);
}