/* Pagina de turnos */

//importando utilidades
@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extends";

main {
    .presentacion-turnos {
        .titulo {
            @extend %titulo;
        }

        p {
            text-align: center;
        }
    }


    .caja-turno {
        .formulario-turno {
            fieldset {
                
                .casillas-turnos {
                    @include grid-centrados(1, 1fr, 2, 1fr, 0px);
                    padding-bottom: 2rem;
                    @extend %borde-carta;
                    margin: 1% 20%;

                    label {
                        text-align: center;
                        font-size: large;
                        font-weight: bold;
                    }

                    input {
                        justify-self: center;
                        width: 30vw;
                    }

                    select {
                        justify-self: center;
                        width: 30vw;
                    }
                }

                .boton-enviar-turno {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;
                    padding: 2rem 0rem 2rem 0rem;

                    input {
                        justify-self: center;
                        width: 30vw;
                        background-color: rgba(102, 102, 216, 0.75);
                        color: white;
                        font-size: medium;
                        border: 0px solid white;
                        border-radius: 4px;
                        padding: 0px 10px 0px 10px;
                    }
                }

            }
        }
    }

    @media screen and (min-width:992px) {
        .caja-turno {
            .formulario-turno {
                fieldset {

                    .casillas-turnos {
                        @include grid-centrados(6, 1fr, 1, 1fr, 0px);
                        padding-top: 3rem;

                        label {
                            grid-column-start: 3;
                        }

                        input {
                            width: 15vw;
                        }

                        select {
                            width: 15vw;
                        }
                    }

                    .boton-enviar-turno {
                        input {
                            width: 10vw;
                            justify-self: center;
                        }
                    }
                }
            }
        }

    }
}