/* Pagina de turnos */

main {
    .presentacion-turnos {
        h1 {
            text-align: center;
        }

        p {
            padding-top: 15px;
            text-align: center;
        }
    }

    .caja-turno {
        .formulario-turno {
            position: relative;

            fieldset {
                padding-top: 2%;
                border: 0px solid white;

                .casillas-turnos {
                    padding-top: 3%;

                    label {
                        position: absolute;
                        left: 40%;
                        font-size: large;
                        font-weight: bold;
                    }

                    input {
                        position: absolute;
                        left: 50%;
                    }

                    select {
                        position: absolute;
                        left: 50%;
                    }
                }

                .boton-enviar-turno {
                    padding: 3% 0 10% 46%;

                    input {
                        background-color: rgba(102, 102, 216, 0.75);
                        color: white;
                        font-size: medium;
                        border: 0px solid white;
                        border-radius: 4px;
                        padding: 0px 10px 0px 10px;
                    }
                }

            }
        }
    }
}


/*
main {
    .presentacion-turnos {
        h1 {
            text-align: center;
        }

        p {
            padding-top: 15px;
            text-align: center;
        }
    }

    .caja-turno {
        .formulario-turno {
            position: relative;

            fieldset {
                padding-top: 2%;
                border: 0px solid white;

                .casillas-turnos {
                    padding-top: 3%;

                    label {
                        position: absolute;
                        left: 40%;
                        font-size: large;
                        font-weight: bold;
                    }

                    input {
                        position: absolute;
                        left: 50%;
                    }

                    select {
                        position: absolute;
                        left: 50%;
                    }
                }

                .boton-enviar-turno {
                    padding: 3% 0 10% 46%;

                    input {
                        background-color: rgba(102, 102, 216, 0.75);
                        color: white;
                        font-size: medium;
                        border: 0px solid white;
                        border-radius: 4px;
                        padding: 0px 10px 0px 10px;
                    }
                }

            }
        }
    }
}
