//Variables

//Colores de fondo de las secciones del main

$color-principal: whitesmoke;
$color-secundario: rgb(241, 238, 235);
$color-teciario: rgba(222, 232, 241, 0.383);

//Color fondo de footer
$color-footer: rgba(119, 136, 153, 0.671);